{% extends 'buyer/Buyer1.html' %}
{% load ourTag %}
{% block title %}
天天生鲜-商品详情
{% endblock %}
{% block head %}
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="cart.html" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>
{% endblock %}
{% block list %}
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
        {% for i in zl %}
        <li><a href="/Buyer/list/{{i.href}}" class="{{i.css}}">{{ i.name }}</a></li>
        {% endfor %}
				</ul>
			</div>

{% endblock %}

{% block body %}
	<div class="breadcrumb">
		<a href="/Buyer/">全部分类</a>
		<span>></span>
		<a href="/Buyer/list/{{ goods.goods_type.id }}">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.picture }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.name }}</h3>
			<p>草莓浆果柔软多汁，味美爽口，适合速冻保鲜贮藏。草莓速冻后，可以保持原有的色、香、味，既便于贮藏，又便于外销。</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.price}}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
{#					 {% for i in Goods.objects.all|get_four:2 %}#}
{#					<li>#}
{#						<a href="#"><img src="/static/{{ i.picture }}"></a>#}
{#						<h4><a href="#">{{i.name}}</a></h4>#}
{#						<div class="prize">￥{{ i.price}}</div>#}
{#					</li>#}
{#                    {% endfor %}#}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.description|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock %}